[submodule "lib/pngle"]
	path = lib/pngle
	url = https://github.com/kikuchan/pngle.git
[submodule "lib/NeoGPS"]
	path = lib/NeoGPS
	url = https://github.com/Open-Smartwatch/NeoGPS.git
[submodule "lib/Arduino_GFX"]
	path = lib/Arduino_GFX
	url = https://github.com/moononournation/Arduino_GFX.git
[submodule "lib/ESP32-BLE-Keyboard"]
	path = lib/ESP32-BLE-Keyboard
	url = https://github.com/T-vK/ESP32-BLE-Keyboard.git
[submodule "lib/AnimatedGIF"]
	path = lib/AnimatedGIF
	url = https://github.com/bitbank2/AnimatedGIF.git
[submodule "lib/BMA400-API"]
	path = lib/BMA400-API
	url = https://github.com/BoschSensortec/BMA400-API.git
[submodule "lib/LUA"]
	path = lib/LUA
	url = https://github.com/lua/lua.git
	branch = v5.3
[submodule "emulator/lib/ArduinoJson"]
	path = emulator/lib/ArduinoJson
	url = https://github.com/bblanchon/ArduinoJson.git
[submodule "emulator/lib/Jzon"]
	path = emulator/lib/Jzon
	url = https://github.com/Zguy/Jzon.git
[submodule "emulator/lib/ImGUI"]
	path = emulator/lib/ImGUI
	url = https://github.com/ocornut/imgui.git
[submodule "emulator/lib/cmdline"]
	path = emulator/lib/cmdline
	url = https://github.com/tanakh/cmdline.git
[submodule "emulator/lib/utest"]
	path = emulator/lib/utest
	url = https://github.com/sheredom/utest.h.git
