[submodule "lib/lib-open-smartwatch"]
	path = lib/lib-open-smartwatch
	url = https://github.com/Open-Smartwatch/lib-open-smartwatch.git
[submodule "lib/pngle"]
	path = lib/pngle
	url = https://github.com/kikuchan/pngle.git
[submodule "lib/NeoGPS"]
	path = lib/NeoGPS
	url = https://github.com/Open-Smartwatch/NeoGPS.git
[submodule "lib/Arduino_GFX"]
	path = lib/Arduino_GFX
	url = https://github.com/moononournation/Arduino_GFX.git
[submodule "lib/ESP32-BLE-Keyboard"]
	path = lib/ESP32-BLE-Keyboard
	url = https://github.com/T-vK/ESP32-BLE-Keyboard.git
[submodule "lib/AnimatedGIF"]
	path = lib/AnimatedGIF
	url = https://github.com/bitbank2/AnimatedGIF.git
[submodule "lib/BMA400-API"]
	path = lib/BMA400-API
	url = https://github.com/BoschSensortec/BMA400-API.git
[submodule "lib/LUA"]
	path = lib/LUA
	url = https://github.com/lua/lua.git
	branch = v5.3
