#ifndef CONFIG_H
#define CONFIG_H

#define DISP_W 240
#define DISP_H 240
// IMPORTANT DISP_H must be divisble by DISP_CHUNK_H!
#define DISP_CHUNK_H 8

// PLEASE CONFIGURE THE VALUES BELOW TO YOUR PREFERENCES

#define WIFI_SSID "yourSSID"
#define WIFI_PASS "yourP4ssw0rd"

// Timezone offset from GMT in hours. E.g. 10 = +10:00
#define TIMEZONE 1
// Daylight saving time offset in hours. E.g. 0.5 = 30 min
#define DAYLIGHTOFFSET 0
#define TIME_FORMAT 24
#define DATE_FORMAT "mm/dd/yyyy"

#define DEVICE_NAME "yourDeviceName"

#define MINI_IOT_DEVICENAME "yourDeviceName"
#define MINI_IOT_SERVER "yourMiniIotServerIp:port"

#define BLE_DEVICE_NAME DEVICE_NAME

/*
 * Here you can select the language of the compiled os. By compiling the language directly
 * into the os you loose the ability to switch it later on, but the compiled binary is way
 * smaller (and faster)!
 */
#include "locales/en-US.h"

#endif
